{% extends 'base.html.twig' %}

{% block title %}Equipement index{% endblock %}

{% block body %}
    <h1>Equipement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>InstallationDate</th>
                <th>SerialNumber</th>
                <th>LocationDetail</th>
                <th>ProductType</th>
                <th>PlacementType</th>
                <th>RemoteNumber</th>
                <th>GasWeight</th>
                <th>LeakDetection</th>
                <th>LastLeakDetection</th>
                <th>NextLeakControl</th>
                <th>Finality</th>
                <th>Capacity</th>
                <th>Picto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            <tr>
                <td>{{ equipement.id }}</td>
                <td>{{ equipement.installationDate ? equipement.installationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ equipement.serialNumber }}</td>
                <td>{{ equipement.locationDetail }}</td>
                <td>{{ equipement.productType }}</td>
                <td>{{ equipement.placementType }}</td>
                <td>{{ equipement.remoteNumber }}</td>
                <td>{{ equipement.gasWeight }}</td>
                <td>{{ equipement.leakDetection ? 'Yes' : 'No' }}</td>
                <td>{{ equipement.lastLeakDetection ? equipement.lastLeakDetection|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ equipement.nextLeakControl ? equipement.nextLeakControl|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ equipement.finality ? equipement.finality|json_encode : '' }}</td>
                <td>{{ equipement.capacity }}</td>
                <td>{{ equipement.picto }}</td>
                <td>
                    <a href="{{ path('app_equipement_show', {'id': equipement.id}) }}">show</a>
                    <a href="{{ path('app_equipement_edit', {'id': equipement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_equipement_new') }}">Create new</a>
{% endblock %}
