{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Question</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventionType %}
        <pre>
            {# {{ dump(intervention) }} #}
        </pre>
            {# <tr>
               <td>{{ intervention.type }}</td>
                <td>{{ intervention.question }}</td>
                <td> #}
                    {# <a href="{{ path('app_intervation_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('app_intervation_edit', {'id': intervention.id}) }}">edit</a>
                </td> #}
            {# </tr> #}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_interventionType_new') }}">Create new</a>
{% endblock %}
